---
const { class: className, ...rest } = Astro.props
---

<button
  class="bg-brand w-fit rounded-md px-3 py-1 text-[.7777777rem] leading-loose text-white"
  class:list={['child-component', className]}
  {...rest}
>
  <slot />
</button>
