---
import Logo from '@/components/brand/Logo.astro'
import Menu from '@/components/navigation/Menu.astro'
import Button from './Button.astro'
---

<nav class="grid grid-cols-[1fr_auto_1fr] items-center">
  <a class="w-fit" href="/"><Logo /></a>

  <Menu />

  <Button class="ml-auto">Inschrijven</Button>
</nav>
