---
import Logo from '../brand/Logo.astro'
---

<nav class="grid grid-cols-[1fr_auto_1fr]">
  <Logo />

  <ul class="flex justify-end space-x-4">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <button class="hidden lg:block">Get Started</button>
</nav>
