---
import Logo from '@/components/brand/Logo.astro'
import Menu from '@/components/navigation/Menu.astro'
import Button from './Button.astro'
---

<nav class="grid grid-cols-[1fr_auto_1fr] items-center">
  <a
    class="focus-visible:ring-3 w-fit rounded outline-none ring-blue-200"
    href="/"
  >
    <Logo />
  </a>

  <Menu />

  <Button class="ml-auto">Inschrijven</Button>
</nav>
