---
const title = 'Programma'

import PageLayout from '../../layouts/PageLayout.astro'

import Container from '../../components/core/Container.astro'
import Row from '../../components/core/Row.astro'
import Curriculum from '../../components/curriculum/Curriculum.astro'
---

<PageLayout title={title}>
  <Row>
    <Container>
      <h1>Programma</h1>

      <Curriculum />
    </Container>
  </Row>
</PageLayout>
