---
interface Props {
  link: string
}

const { link }: Props = Astro.props
---

<a
  href={link}
  class="text-brand hover:bg-brand/10 rounded-md px-3 py-1 text-[.7777777rem] leading-loose"
>
  <slot />
</a>
