---
const { link } = Astro.props

const pathname = new URL(Astro.request.url).pathname

const shouldBeActive = () =>
  pathname === '/' || link === '/' ? link === pathname : pathname.includes(link)
---

<a
  href={link}
  class={`focus-visible:ring-3 flex h-8 items-center rounded rounded-md px-3 text-[.7777777rem] outline-none ring-blue-200 hover:bg-brand/10 ${shouldBeActive() ? 'text-brand bg-brand/10' : 'text-default'}`}
>
  <slot />
</a>
