---
import Layout from '../layouts/Layout.astro'
import SiteHeader from '../components/core/SiteHeader.astro'
import SiteFooter from '../components/core/SiteFooter.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Multimedia & Creative Technologies.">
  <SiteHeader />

  <div class="max-w-screen-2xl mx-auto px-6">
    
    <h2 class="text-4xl font-bold leading-snug text-center mb-6">Jouw code, jouw impact.</h2>
    <div class="grid grid-cols-2 gap-6">
      <Card class:list={'col-span-2'} title='Nog niet zeker wat je wil gaan doen? Geen probleem.' body='Je kiest pas een track na een basis die je met iedereen gemeenschappekijk hebt, je kan halverwege keizen. Ook met 0 voorkennis ben je van harte welkom.' />

      <Card class:list={''} title='Projecten. Doe je ding.' body='Door een goede opbouw van verschillende projecten doorheen je opleoding, leren we je aan de slag gaan. Met echte klanten, reallife scenarios en goede begeleiding, gaat de stap naar het werkveld als vanzelf.' />

      <Card class:list={''} title='Cutting edge. Niet scherp.' body='Innovatie ligt ons nauw aan het hart! Je zal als IT’er de rest van je leven mogen werken om met alles mee te zijn. wij stomen je klaar voor die beoiende carrierie!' />
    </div>

  </div>

  <SiteFooter />
</Layout>
