---
import '../style/root.css'
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MCT</title>
  </head>
  <body class="bg-page text-default">
    <h1 class="text-primary text-3xl mb-3">MCT</h1>
    <div class="size-24 bg-primary shadow"></div>
  </body>
</html>
