:root {
  /* Neutral */
  --global-color-neutral-50: 245 245 245;
  --global-color-neutral-100: 229 230 230;
  --global-color-neutral-200: 205 207 208;
  --global-color-neutral-300: 185 187 188;
  --global-color-neutral-400: 166 170 171;
  --global-color-neutral-500: 146 151 152;
  --global-color-neutral-600: 118 124 125;
  --global-color-neutral-700: 92 96 97;
  --global-color-neutral-800: 64 68 70;
  --global-color-neutral-900: 37 41 42;
  --global-color-neutral-950: 11 13 14;
  --global-black: 0 0 0;
  --global-white: 255 255 255;

  /* Brand */
  --global-color-howest: 68 201 246;
  --global-color-mct-analysis: 163 78 255;
  --global-color-mct-code: 16 147 255;
  --global-color-mct-connect: 255 60 110;
  --global-color-mct-design: 255 164 28;
  --global-color-mct-integrate: 134 200 0;

  /* TOKENS */
  /* Text */
  --global-default: var(--global-color-neutral-900);
  --global-meta: var(--global-color-neutral-600);
  --global-brand: var(--global-color-howest);
  --global-light: var(--global-color-neutral-700);
  --global-on-brand: var(--global-white);

  /* Background */
  --global-page: var(--global-white);
  --global-surface: var(--global-color-neutral-50);

  /* Border */
  --global-border: var(--global-color-neutral-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TOKENS */
    /* Text */
    --global-default: var(--global-color-neutral-50);
    --global-meta: var(--global-color-neutral-600);
    --global-brand: var(--global-color-howest);
    --global-light: var(--global-color-neutral-200);
    --global-on-brand: var(--global-color-neutral-950);

    /* Background */
    --global-page: var(--global-color-neutral-950);
    --global-surface: var(--global-color-neutral-900);

    /* Border */
    --global-border: var(--global-color-neutral-900);
  }
}
