---
import '@/style/root.css'
import '@/style/screen.css'

import '@fontsource-variable/inter'

import Container from '@/components/core/Container.astro'
import Header from '@/components/core/Header.astro'
import Row from '@/components/core/Row.astro'
import TopBar from '@/components/navigation/TopBar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - MCT</title>
  </head>
  <body class="bg-page text-default font-sans">
    <TopBar />
    <Row>
      <Container>
        <Header />
      </Container>
    </Row>
    <slot />
  </body>
</html>
